body {
  margin: 0;
  padding: 0;
  background-color:  var(--graviti-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color Variables */
  --graviti-color:#fff;
  --graviti-background:#F4F8FA;

  /* Font Variables */
  --work-sans-font: "Work Sans", sans-serif;
  --rubik-font: "Rubik", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
